langchain_community
langchain_teddynote
langchain-text-splitters
langchain_experimental
langchain_openai

unstructured[md]
unstructured
openpyxl
docx2txt
nltk
tiktoken

pymupdf
pdfminer.six
pdfplumber
rapidocr-onnxruntime